# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db
desktop.ini

# Windows Alternate Data Streams
*Zone.Identifier

# ==========================
# Python
# ==========================
.venv/
__pycache__/
*.pyc

# ==========================
# Node
# ==========================
node_modules/

# ==========================
# Obsidian
# ==========================

# 端末ごとのUI状態
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# キャッシュ
.obsidian/cache/
.obsidian/workspace/

# Obsidian Git
.obsidian/plugins/obsidian-git/data.json

# Git askpass
**/obsidian_askpass.sh

# ==========================
# Trash
# ==========================
.trash/

# ==========================
# Git backup
# ==========================
.Documents_git_backup.git/

/okf/vault/KQI/260810.md